* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  /* font-size: 16px; */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-colro);

  background: linear-gradient(90deg, #3aa6ff 0%, #f8fbff 50%, #04a8f5 100%);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

:root {
  /* สีหลักของเว็บ */

  --primary-color: rgb(0, 38, 255);
  --promary-bark-color: rgb(124, 115, 250);
  --seconbary-color: rgb(123, 67, 255);

  /* สีข้อความ */
  --text-color: rgb(65, 62, 62);
  --muted-text-color: rgb(75, 67, 67);

  --nav-text-color: rgb(168, 168, 168);
  --light-text-color: rgb(255, 255, 255);

  --blue-text-color: rgb(0, 0, 255);
  --purple-text-color: rgb(255, 0, 255);
  --green-txte-color: rgb(25, 124, 5);
  --orange-txet-color: rgb(255, 102, 0);

  /* สีพื้นหลัง */
  --btn-bg-color: rgb(219, 129, 255);
  --footer-bg-color: black;

  --white-bg-color: rgb(255, 255, 255);

  --blue-bg-color: rgb(169, 193, 255);
  --purple-bg-color: rgb(208, 181, 252);
  --green-bg-color: rgb(97, 255, 173);
  --orange-bg-color: rgb(252, 194, 128);

  --muted-bg-color:rgba(221, 217, 217, 0.76);

  /* สีเงา */
  --header-shadow: 0 4px 8px rgb(255, 255, 255);
  --card-shadow: 0 3px 8px rgb(121, 159, 170);

  /* สีขอบ */
  --border-color: rgb(0, 89, 255);
}

/*===========================
           Header 
=============================*/

.header {
  box-shadow: var(--header-shadow);

  position: sticky;
  top: 0;
  z-index: 10;

  background-color: rgba(0, 89, 255, 0.667);
  backdrop-filter: blur(10px);
}

.header-container {
  text-align: center;
  padding-block: 1.5rem;
}

.header-title {
  color: var(--primary-color);

  font-size: clamp(2rem, 5vw, 3rem);

  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.header-subtitle {
  color: var(--muted-text-color);
}

/*===========================
        category-nav
=============================*/

.category-nav {
  padding-block: 2rem;
  text-align: center;
}

.category-nav label {

  background-color: rgb(245, 245, 240);
  color: var(--nav-text-color);

  padding: 0.65rem 1.2rem;
  box-shadow: var(--card-shadow);

  border-radius: 999px;
  margin: 0.3rem;

  transition: transform 0.3s;
  display: inline-block;


}

.category-nav label:hover {
  transform: translateY(-10px);
}

.filter-radio {

  /* display:none; */

  position: absolute;
  width: 1px;
  height: 1px;

  overflow: hidden;
  clip-path: inset(50%);

}

/* ใส่สีให้กับ label ที่เลือก */
#filter-all:checked ~ .category-nav label[for="filter-all"] ,
#filter-dog:checked ~ .category-nav label[for="filter-dog"] ,
#filter-cat:checked ~ .category-nav label[for="filter-cat"] ,
#filter-bird:checked ~ .category-nav label[for="filter-bird"] ,
#filter-fish:checked ~ .category-nav label[for="filter-fish"] ,
#filter-small-pet:checked ~ .category-nav label[for="filter-small-pet"] 
{
  background-color: var(--seconbary-color);
  color: var(--light-text-color);
}

/* ซ่อนหัวข้อหมวดหมู่ */
.category-hide {
  display: none;
}

/* เปิดหมวดหมู่ */
#filter-all:checked ~ main .show-all ,
#filter-dog:checked ~ main .show-dog ,
#filter-cat:checked ~ main .show-cat ,
#filter-bird:checked ~ main .show-bird ,
#filter-fish:checked ~ main .show-fish ,
#filter-small-pet:checked ~ main .show-small-pet 
{
  display: inline;
}

/* ช่อนการ์ดสัตว์ */
#filter-dog:checked ~ main .pet-card ,
#filter-cat:checked ~ main .pet-card ,
#filter-bird:checked ~ main .pet-card ,
#filter-fish:checked ~ main .pet-card ,
#filter-small-pet:checked ~ main .pet-card 
{
  display: none;
}

/* โชว์การ์ดสัตว์ */
#filter-dog:checked ~ main .show-dog ,
#filter-cat:checked ~ main .show-cat ,
#filter-bird:checked ~ main .show-bird ,
#filter-fish:checked ~ main .show-fish ,
#filter-small-pet:checked ~ main .show-small-pet 
{
  display: block;
}


nav a.active {
  background-color: var(--btn-bg-color);
  color: var(--light-text-color);
}

/*===========================
           Main 
=============================*/

.page-title {
  text-align: center;
  margin: 2rem;
}

.pet-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.pet-card {
  border: var(--border-color);
  box-shadow: var(--card-shadow);
  border-radius: 0.75rem;

  overflow: hidden;
  transition:
    0.3s,
    box-shadow 0.5;
  background-color: rgb(243, 243, 238);
}

.pet-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--header-shadow);
}

.pet-card img {
  height: 16.25rem;
  width: 100%;
  object-fit: cover;
}

.pet-content {
  padding: 1.25rem;
}

.pet-content h2 {
  color: var(--promary-bark-color);
}

.breed {
  color: var(--muted-text-color);
}

/*===========================
          Form  Radio
=============================*/

.form-radio {
  background-color: var(--white-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 1rem;

  padding: 1.5rem;
  margin: 2rem auto;

}

.form-radio h2 {
  text-align: center;
  color: var(--blue-text-color);

}

.form-radio p{
  text-align: center;
  color: var(--muted-text-color);
  margin-bottom: 0.8rem;
}

.form-radio fieldset {
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.7rem;
}

.form-radio legend {
  padding: 0 0.5rem;
  color: var(--primary-color);
  font-weight: bold
}

.radio-option {
  display: flex;
  justify-content: center;
  gap: 0.75rem;

  flex-wrap: wrap;
}

.radio-item label {
  background-color: var(--muted-bg-color);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  cursor: pointer;

}

.radio-item input {
  accent-color: var(--seconbary-color);
}

.radio-item input:checked + label  {
  background-color: var(--seconbary-color);
  color: var(--light-text-color);

}

.reset-btn {
  background-color: var(--primary-color);
  color: var(--light-text-color);
  padding: 0.5rem 1rem;

  border-radius: 0.5rem;
  border: none;


  cursor: pointer;

  display: block;
  margin: 1.5rem auto 0;
   
 

  
}


/*===========================
          Footer
=============================*/

footer {
  background-color: var(--footer-bg-color);
  color: var(--light-text-color);

  text-align: center;

  padding-block: 2rem;
  margin-top: 2rem;
}

/*===========================
           Responsive
=============================*/

/*===========================
        Info Section
=============================*/

.info-section {
  background-color: var(--white-bg-color);
  box-shadow: var(--card-shadow);
  border-radius: 1rem;

  padding: 1.5rem;
  margin: 2rem auto;
}

.info-title {
  border-radius: 0.75rem;

  text-align: center;
  padding: 1rem;
  margin-bottom: 1.5rem;

  font-size: clamp(1.1rem, 3vw, 1.5rem);
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.info-card {
  border-radius: 0.75rem;
  box-shadow: var(--card-shadow);

  padding: 1.25rem;
  transform: translateY(-10px);
}

.info-card .card-title {
  color: var(--blue-text-color);
  font-size: 1.1rem;
  font-weight: bold;

  margin-bottom: 0.5rem;
}

.info-card p {
  color: var(--muted-text-color);
  font-size: 0.9rem;
}

.info-blue {
  background-color: var(--blue-bg-color);
}

.info-text-blue {
  color: var(--blue-text-color);
}

.info-purple {
  background-color: var(--purple-bg-color);
}

.info-text-purple {
  color: var(--purple-text-color);
}

.info-green {
  background-color: var(--green-bg-color);
}

.info-text-green {
  color: var(--green-txte-color);
}

.info-orange {
  background-color: var(--orange-bg-color);
}

.info-text-orange {
  color: var(--orange-txet-color);
}
