* {
  box-sizing: border-box; /*ใช้ box-sizing เพื่อให้ padding และ border ไม่กระทบขนาดของ element */
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif; /* กำหนดฟอนต์ของ body */
  background-color: #ebf8ff; /* สีพื้นหลังของ body */

  line-height: 1.6;
}

footer,
/* .hero, */
/* .card, */
.tip-box {
  border: 1px solid #ff0000; /* กำหนดเส้นขอบสีแดงให้กับ footer, .hero, .card และ .tip-box */
  background-color: #fff;
  margin: 20px; /* กำหนดระยะห่างจากขอบ */
  padding: 20px; /* กำหนดระยะห่างภายใน */
}

/* ================================
              Header
=================================== */
header {
  background: linear-gradient(
    to right,
    #0036aa,
    #325bfc
  ); /* กำหนดพื้นหลังเป็นไลน์กราฟ */
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* กำหนดเงาให้กับ header */

  display: flex; /* ใช้ Flexbox เพื่อจัดเรียงเนื้อหาใน header */
  justify-content: space-between; /* จัดเรียงเนื้อหาให้อยู่ที่ขอบด้านซ้ายและขวา */
  align-items: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวตั้ง */
}
/* .brand ตั้งชื่อ*/
.brand {
  display: flex;
  align-items: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวตั้ง */
  gap: 10px; /* กำหนดระยะห่างระหว่างไอคอนและข้อความ */
}

.brand-icon {
  font-size: 50px; /* กำหนดขนาดของไอคอน */
}
.brand-text p {
  font-size: 14px;
}

/* navigation */
nav a {
  color: white;
  text-decoration: none; /* กำหนดให้ลิงก์ไม่มีเส้นใต้ */
  margin-left: 20px; /* กำหนดระยะห่างด้านซ้ายของลิงก์ */
}

nav a:hover {
  text-decoration: underline; /* กำหนดให้ลิงก์มีเส้นใต้เมื่อเมาส์อยู่เหนือ */
}

/* hero section */
.hero {
  display: flex;
  gap: 10px;

  padding: 40px;
}

.hero-icon {
  background-color: #325bfc;
  color: #fff;
  border-radius: 15px;

  width: 90px; /* กำหนดความกว้างของไอคอน */
  height: 90px; /* กำหนดความสูงของไอคอน */

  display: flex;
  justify-content: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวตั้ง */

  font-size: 40px;
  font-weight: bold; /* กำหนดความหนาของตัวอักษร */
}

.hero-text {
}

.hero-text h1 {
  font-size: 40px;
  color: #1a2d78;
}

.hero-text p {
  font-size: 20px;
  color: #474748;
}

/* Main content */

.container {
  /*max-width: 1200px;*/
  width: 100%;
  margin: 0 auto; /* จัดกึ่งกลาง container */
  padding: 40px;

  /*background-color: #b5fd76;*/
}

.card-grid {
  display: grid; /* ใช้ Grid Layout เพื่อจัดเรียง card */
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* กำหนดให้มี 3 คอลัมน์ที่มีความกว้างเท่ากัน */
  gap: 20px;

  /* background-color: #fffb2c; */
}

.card {
  background-color: #fff;

  border-radius: 16px; /* กำหนดมุมโค้งของ card */
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11); /* กำหนดเงาให้กับ card */
  border: 1px solid rgb(127, 134, 205); /* กำหนดเส้นขอบของ card */

  overflow: hidden; /* ซ่อนเนื้อหาที่เกินขอบของ card */
}
.card-header {
  background-color: #edf2f7;

  color: blue;
  font-size: 18px;
  font-weight: bold;

  padding: 20px; /* กำหนดระยะห่างภายในของ card-header */
  border-bottom: 1px solid rgb(127, 134, 205); /* กำหนดเส้นขอบด้านล่างของ card-header */
}

.card-header-icon {
  background-color: #325bfc;
  color: white;

  /* padding: 10px; */

  border-radius: 50%;

  width: 38px;
  height: 38px;

  display: inline-flex;
  justify-content: center;
  align-items: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวนอนและแนวตั้ง */
}

.card-body {
  padding: 20px; /* กำหนดระยะห่างภายในของ card-body */
}

.format-row {
  display: grid;
  grid-template-columns: 100px 1fr; /* กำหนดให้มี 2 คอลัมน์ โดยคอลัมน์แรกมีความกว้าง 100px และคอลัมน์ที่สองมีความกว้างอัตโนมัติ */

  gap: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6284ce;
  padding: 6px 0;
}

.label {
  /*padding: 8px 50px;*/

  border-radius: 8px; /* กำหนดมุมโค้งของ label */

  color: #ebf8ff;
  font-weight: bold; /* กำหนดความหนาของตัวอักษร */

  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
}

.B-label {
  background-color: #325bfc;
} /* กำหนดสีพื้นหลังของ label B เป็นสีน้ำเงิน */

.STRONG-label {
  background-color: #03d826;
}

.I-label {
  background-color: #d8d403;
}

.EM-label {
  background-color: #d85803;
}

.U-label {
  background-color: #d80303;
}

.MARK-label {
  background-color: #03d8cd;
}

.SMALL-label {
  background-color: #9c03d8;
}

.DEL-label {
  background-color: #d8037f;
}

.SUP-label {
  background-color: #03d886;
}

.SUB-label {
  background-color: #d89f03;
}

/* card 2 */

.pre-box {
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;

  padding: 20px;
}

.html-tag {
  color: #ff0000;
}

.line-no {
  color: #696464;
  display: inline-block; /* ทำให้ line-no เป็น inline-block เพื่อให้สามารถกำหนดความกว้างได้ */
  width: 20px;
}

/* Crad 3 */
.activity-list {
  list-style: none; /* ลบสัญลักษณ์ bullet ของรายการ */
}
.activity-list li {
  margin-bottom: 20px; /* กำหนดระยะห่างด้านล่างของรายการ */
}

.check {
  /*background-color: rgb(201, 64, 48);*/
  color: white;
  font-weight: bold;
  font-size: 24px;

  /*padding: 10px;*/
  border-radius: 50%; /* กำหนดให้ check เป็นวงกลม */

  display: inline-flex;
  height: 38px; /* กำหนดความสูงของ check */
  width: 38px; /* กำหนดความกว้างของ check */

  justify-content: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวนอน */
  align-items: center;
}

.check-blue {
  background-color: blue;
}
.check-red {
  background-color: red;
}
.check-green {
  background-color: green;
}
.check-orenge {
  background-color: darkorange;
}
.check-darkmagenta {
  background-color: darkmagenta;
}

.flie {
  background-color: rgb(155, 215, 255);
  color: darkblue;

  border-radius: 10px;
  padding: 5px 10px;
}

/* Tip-box */
.tip-box {
  background-color: rgb(243, 224, 188);
  border: 1px solid rgb(179, 116, 0);
  border-radius: 20px; /* กำหนดมุมโค้งของ tip-box */

  padding: 20px;
  margin: 20px;
}
.tip-box-header {
  display: inline-flex;
}
.tip-box-icon {
  background-color: rgb(255, 168, 39);
  border-radius: 50%;
  font-size: 20px;

  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center; /* จัดเรียงเนื้อหาให้อยู่ตรงกลางแนวนอน */
  align-items: center;
}
.tip-box h2 {
  margin-left: 15px;
}
.tip-box p {
  padding-left: 60px;
}
.tip-box-text {
  color: blue;
  font-weight: bold; /* กำหนดความหนาของตัวอักษร */
}

.footer {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 20px;

  background-color: #1c99ffd3;
  padding: 25px 29px;
}

.footer-text li {
  list-style: none;
}

.footer-text h2 {
  font-weight: bold;
}

.footer-text-span {
  grid-column: 1/-1; /* เมื่อนำมารวมกัน 1 / -1 จึงเป็นการสั่งให้กล่องปักหมุดที่เส้นซ้ายสุดแล้วลากยาวไปแปะที่เส้นขวาสุด ส่งผลให้กล่องนั้นขยายใหญ่เต็มแถว โดยที่เราไม่ต้องสนใจเลยว่าตารางนั้นจะมีทั้งหมดกี่ช่อง */
  text-align: center;
}

hr {
  width: 360%;
}
