* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ebf8ff;

  line-height: 1.6;
}

footer,
/* .hero, */
/* .card, */
.tip-box {
  border: 1px solid #ff0000;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
}

/* ================================
              Header
=================================== */
header {
  background: linear-gradient(to right, #0036aa, #325bfc);
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  font-size: 50px;
}
.brand-text p {
  font-size: 14px;
}

/* navigation */
nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
}

/* hero section */
.hero {
  display: flex;
  gap: 10px;

  padding: 40px;
}

.hero-icon {
  background-color: #325bfc;
  color: #fff;
  border-radius: 15px;

  width: 90px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 40px;
  font-weight: bold;
}

.hero-text {
}

.hero-text h1 {
  font-size: 40px;
  color: #1a2d78;
}

.hero-text p {
  font-size: 20px;
  color: #474748;
}

/* Main content */

.container {
  /*max-width: 1200px;*/
  width: 100%;
  margin: 0 auto;
  padding: 40px;

  /*background-color: #b5fd76;*/
}

.card-grid {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  /* background-color: #fffb2c; */
}

.card {
  background-color: #fff;

  border-radius: 16px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.11);
  border: 1px solid rgb(127, 134, 205);

  overflow: hidden;
}
.card-header {
  background-color: #edf2f7;

  color: blue;
  font-size: 18px;
  font-weight: bold;

  padding: 20px;
  border-bottom: 1px solid rgb(127, 134, 205);
}

.card-header-icon {
  background-color: #325bfc;
  color: white;

  /* padding: 10px; */

  border-radius: 50%;

  width: 38px;
  height: 38px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 20px;  
}

.format-row{
  display: grid;
  grid-template-columns: 100px 1fr;

  gap: 20px;
  margin-bottom: 8px;
  border-bottom: 1px solid  #6284ce;
  padding: 6px 0
}

.label {
  /*padding: 8px 50px;*/
  
  border-radius: 8px;

  color: #ebf8ff;
  font-weight: bold;

  text-align: center;
}


.B-label {background-color: #325bfc;}

.STRONG-label {background-color: #03d826;}

.I-label {background-color: #d8d403;}

.EM-label {background-color: #d85803;}

.U-label {background-color: #d80303;}

.MARK-label {background-color: #03d8cd;}

.SMALL-label {background-color: #9c03d8;}

.DEL-label {background-color: #d8037f;}

.SUP-label {background-color: #03d886;}

.SUB-label {background-color: #d89f03;}



/* card 2 */

.pre-box {
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;

  padding: 20px;
}

.html-tag{
    color: #ff0000;
}

.line-no{
  color: #696464;
  display: inline-block;
  width: 20px;
}






