* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 255, 255, 0.438);

  color: black;
  line-height: 1.6;
}

.container {
  /* border: 1px solid rgb(0, 17, 255);
  padding: 15px;
  margin: 15px; */
}

/*===========================
       Header Section
=============================*/
.site-header {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(110deg, rgb(34, 67, 212), rgb(0, 225, 255));

  padding: 8px 20px;
}

.brand {
  /* border: 1px solid rgb(255, 0, 0); 
  padding: 15px;
  margin: 15px; */

  display: flex;
  align-items: center;
  gap: 20px;

  color: aliceblue;
}

.brand-logo {
  background-color: rgb(37, 47, 187);

  border-radius: 50%;

  font-size: 30px;

  width: 55px;
  height: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text h2 {
  font-size: 24px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.5px; /*โป่งใส*/
}

/* navbar */
.main-nav {
  /* border: 1px solid rgb(255, 0, 0);
  padding: 15px;
  margin: 15px; */
}
.nav-list {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-list a {
  color: aliceblue;
  text-decoration: none;

  padding: 8px 15px;
  border-radius: 8px;

  transition: 0.8s;
}
.nav-list a:hover {
  background-color: rgba(240, 248, 255, 0.342);
}

/*===========================
       Main Section
=============================*/
.main-layout {
  /* border: 1px solid red;
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1fr 390px;
  /* grid-template-columns: 80% 20%; */

  padding: 20px 22px;
}

/* left content */

.left-content {
  /* border: 1px solid rgb(0, 59, 8);
  padding: 15px;
  margin: 15px; */
}

/* Hero */

.hero {
  /* border: 1px solid rgb(0, 59, 8);
  padding: 15px;
  margin: 15px; */

  display: grid;
  grid-template-columns: 1.5fr 0.8fr;

  background: linear-gradient(90deg, rgb(248, 248, 248), rgb(0, 140, 255));

  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(56, 56, 56);

  align-items: center;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(0, 75, 75);
  line-height: 1.8;
}
.hero-text div {
  font-size: 21px;
  color: rgba(0, 75, 75, 0.527);
  font-weight: 600;
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgba(1, 3, 126, 0.589);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(56, 56, 56);

  object-fit: cover;

  /*
    object-fit: contain ➡️เห็นภาพครบ รักษาสัดส่วน (อาจมีขอบว่าง)
    object-fit: fill ➡️ยืดภาพให้เต็มกล่อง ภาพอาจบิด (สัดส่วนเพี้ยน)
    object-fit: cover ➡️ครอปภาพให้เต็มกล่อง รักษาสัดส่วน บางส่วนของภาพจะถูกตัดออก
    */
}

/*=============Link Example==============*/

.card {
  border: 1px solid rgb(166, 221, 218);
  background-color: white;
  border-radius: 15px;

  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(56, 56, 56);

  margin-top: 20px;
}

.card-header-title {
}

.card-header-title h2 {
  color: rgb(0, 75, 75);
}
.card-body-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 20px;
}

/* กล่องลิ้งค์ด้านซ้าย */

.result-panel,
.code-panel {
  border: 1px solid rgba(146, 192, 245, 0.5);
  border-radius: 10px;

  overflow: hidden;
}

.result-panel-header,
.code-panel-header {
  background-color: rgb(221, 235, 250);
  color: rgb(0, 75, 75);
  font-weight: bold;

  padding: 0px 20px;
}
.result-panel-body {
  line-height: 2;
  padding: 5px 20px 10px 20px;
}
.result-panel-body a {
  display: block;

  color: rgb(21, 21, 189);
}

.result-panel-body a:hover {
  color: rgb(189, 21, 21);
}

.email-box {
  background-color: blue;
  border-radius: 5px;

  margin-right: 10px;
}

.dack-btn {
  border: 2px solid rgb(21, 21, 189);
  border-radius: 10px;

  display: inline-block !important;

  padding: 0 20px;

  text-decoration: none;
}

/* กล่องลิ้งค์ด้านขวา */

.code-panel {
  background-color: black;
}

.code-panel-body {
  color: aliceblue;
}

.code-list {
  color: aliceblue;
  padding: 16px 20px;
}

.code-list li {
  padding: 0px 20px;
}

.tag {
  color: brown;
}

.attr {
  color: rgb(146, 172, 0);
}

.value {
  color: rgb(0, 177, 15);
}

/* Image Example */

.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  align-items: baseline;
  text-align: center;
  font-size: 14px;

  padding: 14px 14px;
}

/*============= right sidbar ==============*/

.right-sidebar {
  padding: 0 15px 15px 15px;
  margin: -20px 15px 15px 15px;
  box-sizing: border-box;
  
}
.side-card {
  background-color: #ffffff;
  border: 1px solid #e5e5e8;
  border-radius: 15px;

  padding: 10px 15px;
  margin-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.sidecard-header {
  color: #2b2b2b;
}
.sidecard-body {
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 10px;

  font-size: 16px;
  padding: 6px;
}
.sidecard-body pink-btn {
  font-size: 22px;
}
.pink-btn {
  background-color: #4c43b0;
  border-radius: 50%;
  color: white;

  align-items: center;
  text-align: center;

  width: 28px;
  height: 28px;
  
}

.sidebody-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  align-items: center;
  text-align: center;
}
.body-box {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #f8f7f7;
}
.a-box {
  background-color: #6f6cc95d;
  color: #080035;
}
.href-box {
  background-color: #91f6ed;
  color: #0b5a93;
}
.target-box {
  background-color: #49f47a;
  color: #024d18;
}
.img-box {
  background-color: #ebc396;
  color: #ff7700;
}
.src-box {
  background-color: #dfbbf7;
  color: #260038;
}
.alt-box {
  background-color: #fea5a5;
  color: #710000;
}
.width-box {
  background-color: #a4f6d5;
  color: #005938;
}
.height-box {
  background-color: #f5e999;
  color: #aa9310;
}

/*==============Activity===============*/

.btn {
  border-radius: 50%;
  color: white;

  align-items: center;
  text-align: center;

  width: 28px;
  height: 28px;
  
}

.blue {
  background-color: #00c3ff;
  color: #faf8f8;
}
.red {
  background-color: #ff0000;
  color: #fcfcfc;
}
.yellow {
  background-color: #facc00;
  color: #ffffff;
}
.green {
  background-color: #005f05;
  color: #ffffff;
}
.orange {
  background-color: #ff5e00;
  color: #ffffff;
}
.violet {
  background-color: #7c00b6;
  color: #ffffff;
}



/*==============Submit===============*/

.submit-card {
  background-color: #f1fa76;
  border-color: #ffee00;

  display: flex;
  align-items: center;
  gap: 20px;

}

.submit-icon {
  font-size: 30px;
}




/*==============Footer Section===============*/

.tip-box {

  background-color: #66e7fd;
  border: 1px solid #008cff;
  border-radius: 14px;
  padding: 18px;

  box-shadow: 0 4px 14px rgb(255, 255, 255);

  display: grid;
  grid-template-columns: 90px 1fr 170px;
  align-items: center;
  

  margin: 20px;


}

.tip-icon {
  background-color: #008cff;
  width: 75px;
  height: 75px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 50px;
  color: white;
  font-family: Georgia, serif;
  font-weight: bold;

}

.tip-content h2 {
    color: #0b3d91;
    font-size: 24px;
    margin-bottom: 4px;
}

.tip-content p {
    font-size: 15px;
    color: #1f2937;
}

.tip-content span {
    color: #e11d48;
    font-family: Consolas, monospace;
    font-weight: bold;
}

.tip-photo {
  font-size: 45px;
  text-align: center;
}


/*==============
      Responsive
===============*/

@media (max-width:1200px) {

  .container {
    background-color: red;;
  }

  .main-layout {
    grid-template-columns: 1fr ;
 }

  .right-sidebar {
    padding: 0 15px 15px 15px;
    margin: -20px 15px 15px 15px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px ;
  }
 
} 

@media (max-width:992px) {

  .container {
    background-color: rgb(235, 212, 0);;
  }

  .hero {

    display: flex;
    flex-direction: column;
    gap: 50PX;   
  }

  .hero-photo img {

    width: 100%;
    height: auto;
    
  }

  .right-sidebar {

    grid-template-columns: 1fr ;
    
  }

  .result-panel-body-3g {

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .card-body-grid {
    grid-template-columns:1fr;

  }

  .tip-photo {
    display: none;
  }

  .tip-box {
    grid-template-columns: 90px 1fr;
  }


}

@media (max-width:768px) {

  .container {
    background-color: rgb(0, 235, 31);;
  }

  .hero {

    display: flex;
    flex-direction: column;
    gap: 50PX;   
  }

  .hero-photo img {

    width: 100%;
    height: auto;
    
  }

  .right-sidebar {

    grid-template-columns: 1fr ;
    
  }

  .result-panel-body-3g {

    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .card-body-grid {
    grid-template-columns:1fr;

  }

  .tip-photo {
    display: none;
  }

  .tip-box {
    grid-template-columns: 90px 1fr;
  }


} 